<!DOCTYPE html>
<html>
<head>
    <title>WebTheater</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<br>
<center>
    <h1><a href="/">WebTheater</a></h1>
        <br>
        
        <h2>{{ video.get_descricao() }}</h2>
        
        <p>
            <iframe width="560" height="315" src="{{ video.get_url_video() }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
</center>



<center>
    <h3>Visualizações: {{ video.get_qtd_visualizacao() }} || Curtidas: {{ video.get_curtidas() }} || Data de Publicação: {{ video.get_data_publicacao() }}</h3> <br>
    
    <label>Comentário</label><br>
    <textarea></textarea><br>
    <button type="button">Comentar</button> <button type="button">Curtir</button> <br>
</center>

</body>